body {
  font-family: 'Roboto', sans-serif;
    /* background:url('../img/bg/bg.jpg'); */
    background-color: #849d8f;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
address {
  font-style: normal;
}
article {
  padding: 10px 0 0 0;
}
.product img {
  border-radius: 50%;
}
